body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
	max-width: 1000px;
	padding: 15px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	font-size: 1rem;
	color: rgb(86, 3, 176);
	border: 1px solid rgb(130, 102, 199);
	border-radius: 1.3em;
	padding: 0.65em 1.3em;
	background-color: rgb(236, 232, 247);
	cursor: pointer;
}

.button--big {
	display: inline-block;
	width: 100%;
	font-size: 1em;
	border-radius: 1.3em;
	border: 1px solid rgb(130, 102, 199);
	color: rgb(255, 255, 255);
	padding: 1em;
	background: linear-gradient(30deg, rgb(86, 3, 176) 30%, rgb(130, 102, 199) 100%);
	cursor: pointer;
	font-weight: 700;
	font-style: italic;
}

.input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 1em;
	line-height: 2;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid rgb(130, 102, 199);
	border-left: none;
	border-image: initial;
}

.record {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.record:not(:last-child) {
	border-bottom: 1px solid rgb(130, 102, 199);
}

.record__info {
	width: 90%;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.record__line {
	height: 2px;
	background-color: rgb(229, 205, 254);
}

.record__first-side,
.record__second-side {
	margin: 5px 0;
	font-size: 14px;
	line-height: 1;
}
